extends layout 

mixin article(title, img, href)
  .article
    a.article-img(href= href) 
        img(src= img, alt="article preview")
    .article-title
        h4= title

block content
        include components/navbar.pug
        .news  
            span.heading All News Categories
            .categories 
                +article("Sports", "/sports.jpg", "/news/sports")
                +article("Technology", "/technology.jpg", "/news/technology")
                +article("Business", "/business.jpg", "/news/business")
                +article("Politics", "/politics.jpg", "/news/politics")
                +article("Entertainment", "/entertainment.jpg", "/news/entertainment")
